{% extends 'crm/base/base.html' %}
{% load staticfiles %}


{% block main-center %}

    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <h3>{{ extra_title }}</h3>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <form action="" method="get">
                {% csrf_token %}
                {% for field in filter.form %}
                <div class="row">
                    <div class="col-lg-3">
                        {{ field.errors }}
                    </div>
                    <div class="col-lg-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-lg-3">
                        {{ field }}
                    </div>
                    <div class="col-lg-3">
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                <br>
                {% endfor %}
                <div class="row">
                    <div class="col-lg-offset-6 col-lg-3">
                        <input type="submit" value="Поиск" />
                    </div>
                </div>
            </form>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped" id="table-amount">
                        <thead>
                            <tr>
                                <th>Наименование организации</th>
                                <th>ИНН</th>
                                <th>КПП</th>
                                <th>ОГРН</th>
                                <th>Юридический адрес</th>
                                <th>Фактический адрес</th>
                                <th>Тип организации</th>
                                <th>Банк</th>
                                <th>Расчетный счет</th>
                                <th>Телефон</th>
                                <th>Эл. почта</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for obj in filter %}
                            <tr class="" >
                                <td>{{ obj.title }}</td>
                                <td>{{ obj.inn }}</td>
                                <td>{{ obj.kpp }}</td>
                                <td>{{ obj.ogrn }}</td>
                                <td>{{ obj.legal_address }}</td>
                                <td>{{ obj.actual_address }}</td>
                                <td>{{ obj.org_type }}</td>
                                <td>{{ obj.bank }}</td>
                                <td>{{ obj.checking_account }}</td>
                                <td>{{ obj.phone }}</td>
                                <td>{{ obj.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock main-center %}

{% block main-center-storage %}


{% endblock main-center-storage %}

